<div class="net-banking-container">
    <div class="input-label">Select Bank</div>
    
    <div class="input-field-method-quick-select">

        <input name="bankid" type="radio" id="41" value="41">
        <label class="rb-micro" for="41">
            <div class="deposits-state-bank-of-india"></div>
        </label>

    </div>
    <div class="input-field-method-quick-select">

        <input name="bankid" type="radio" id="10" value="10">
        <label class="rb-micro" for="10">
            <div class="deposits-axis-bank"></div>
        </label>

    </div>
    <div class="input-field-method-quick-select">

        <input name="bankid" type="radio" id="25" value="25">
        <label class="rb-micro" for="25">
            <div class="deposits-icici-bank"></div>
        </label>

    </div>
    <div class="clear"></div>

    <div class="input-label">Or select other bank</div>
    <div class="styled-select nb">
        <select class="input-field-method-dropdown nb gtm-netbanking-action ng-untouched ng-pristine ng-valid">

            <option value="0">Select Bank</option>
            <!--template bindings={}-->
            <option value="41">State Bank of India</option>
            <option value="10">Axis Bank</option>
            <option value="27">Indian Bank</option>
            <option value="26">IDBI Bank</option>
            <option value="25">ICICI Bank</option>
            <option value="17">Citibank</option>
            <option value="34">Kotak Mahindra Bank</option>
            <option disabled="">—————————————</option>
            <!--template bindings={}-->
            <option value="9">Allahabad Bank</option>
            <option value="48">Andhra Bank</option>
            <option value="11">Bank of Bahrain and Kuwait</option>
            <option value="12">Bank of Baroda</option>
            <option value="13">Bank of India</option>
            <option value="14">Bank of Maharashtra</option>
            <option value="50">Canara Bank</option>
            <option value="49">Catholic Syrian Bank</option>
            <option value="16">Central Bank of India</option>
            <option value="18">City Union Bank</option>
            <option value="19">Corporation Bank</option>
            <option value="20">DEUTSCHE Bank</option>
            <option value="51">Dena Bank</option>
            <option value="21">Development Credit Bank</option>
            <option value="22">Dhanlaxmi Bank</option>
            <option value="23">Federal Bank</option>
            <option value="28">Indian Overseas Bank</option>
            <option value="29">IndusInd Bank </option>
            <option value="30">J&amp;K Bank</option>
            <option value="32">Karnataka Bank Ltd.</option>
            <option value="33">Karur Vysya Bank</option>
            <option value="35">Lakshmi Vilas Bank</option>
            <option value="36">Oriental Bank of Commerce</option>
            <option value="55">Punjab National Bank Retail Accounts</option>
            <option value="57">Ratnakar Bank</option>
            <option value="67">Saraswat Bank - SWB</option>
            <option value="58">Shamrao Vitthal Co-operative Bank</option>
            <option value="37">South Indian Bank</option>
            <option value="38">Standard Chartered Bank</option>
            <option value="39">State Bank of Bikaner and Jalpur</option>
            <option value="40">State Bank of Hyderabad</option>
            <option value="42">State Bank of Mysore</option>
            <option value="60">Syndicate Bank</option>
            <option value="61">UCO Bank</option>
            <option value="44">Union Bank of India</option>
            <option value="45">United Bank of India</option>
            <option value="46">Vijaya Bank</option>
            <option value="47">Yes Bank</option>
        </select>
    </div>
    <br>
    <br>
    <button class="deposit-action-button" id="deposit-pay-button">PAY NOW ❯❯</button>
    <br>
    <!-- <div class="select-method-payment-note">
        <div>Note:</div>
        <div>
            - After Clicking on the 'Pay Now' button, you will be redirected to a secure gateway for payment.
        </div>
    </div> -->
</div>