<div class="card-container">
    <div>
        <div class="input-label">Select your card</div>
        <div class="styled-select">
            <select class="input-field-method-dropdown gtm-credit-card-action">
                <option value="0">Select Your Card</option>
                <option value="5">Visa</option>
                <option value="4">MasterCard</option>
            </select>
        </div>
        <br>
        <button class="deposit-action-button" id="deposit-pay-button">PAY NOW ❯❯</button>
    </div><!-- 
    <br>
    <div class="select-method-payment-note">
        <div>Note:</div>
        <div>
            - After Clicking on the 'Pay Now' button, you will be redirected to a secure gateway for payment.
        </div>
    </div> -->
</div>