<div class="select-amount-container">
    <div class="select-amount-header">Cashier</div>
    <div class="select-amount-body">
        <div class="progress-header"></div>
        <div class="amount-container">
            <app-select-amount-radio bonusPrice='1500' price='5000'></app-select-amount-radio>
            <app-select-amount-radio bonusPrice='700' price='2500'></app-select-amount-radio>
            <app-select-amount-radio bonusPrice='250' price='1000'></app-select-amount-radio>
            <app-select-amount-radio bonusPrice='100' price='500'></app-select-amount-radio>
            <app-select-amount-radio customPrice="true"></app-select-amount-radio>
        </div>
    </div>
    <button class="btn btn-primary proceed" (click)="proceed()"><i class="fa fa-inr" aria-hidden="true"></i>Proceed</button>
</div>