<div class="header">Amount: <span class="text-format"><i class="fa fa-inr" aria-hidden="true"></i> {{price}}</span></div>
<div class="outer-container">
    <div class="method-container">
        <div class="method-type">
            <div class="payment credit-card" (click)="creditCard()" [ngClass]="{'selected-item': creditCardFlag, '': !creditCardFlag}">Credit Card</div>
            <div class="payment debit-card" (click)="debitCard()" [ngClass]="{'selected-item': debitCardFlag, '': !debitCardFlag}">Debit Card</div>
            <div class="payment net-banking" (click)="netBanking()" [ngClass]="{'selected-item': netBankingFlag, '': !netBankingFlag}">Net Banking</div>
            <div class="payment wallets" (click)="wallets()" [ngClass]="{'selected-item': walletsFlag, '': !walletsFlag}">Walletes</div>
            <div class="payment upi" (click)="upi()" [ngClass]="{'selected-item': upiFlag, '': !upiFlag}">UPI</div>
        </div>
        <div class="right-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>