<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div> -->


<!-- <input type="text" placeholder="Search by name" [(ngModel)]="searchText" (keyup)="searchHandler($event)" (change)="searchHandler($event)" />
  <button (click)="sortByDate()"><i class="fa fa-american-sign-language-interpreting" aria-hidden="true">Sort By Joining Date</i></button> -->


<button type="button" class="btn btn-secondary" (click)="getOrdersInfo()">Get Orders</button>
<!-- 
<br/>


<table class="table" *ngIf="orderData.length > 0">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Custom Price</th>
      <th>Custom Bonus Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderData">
      <td>{{order?.orderid}}</td>
      <td>{{order?.customprice}}</td>
      <td>{{order?.custombonusprice}}</td>
    </tr>
  </tbody>
</table> -->